.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 420px;
}

@media screen and ((min-width: 1200px)) {
  .container {
    max-width: 320px;
  }
}

.chartWrapper {
  position: relative;
}

.title {
  margin-bottom: 8px;
  font-family: "PoppinsRegular";
  font-size: 30px;
}

@media screen and ((min-width: 768px)) {
  .title {
    margin-bottom: 20px;
  }
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: "CirceBold";
  font-size: 18px;
  transform: translate(-50%, -50%);
}

@keyframes circleAnimation {
  0% {
    stroke-dashoffset: 280;
  }

  100% {
    stroke-dashoffset: 580;
  }
}

circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  animation: 1s ease-in-out both circleAnimation;
}
