.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iconEmail {
  width: 20px;
  height: 16px;
}

.iconPadlock {
  width: 16px;
  height: 21px;
}

.registerButton {
  font-family: "CirceRegular";
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--text-alternative);
  background-color: var(--btn-primary);
  border-radius: 20px;
  border: none;
  padding: 13px 61px;
  margin-top: 5px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    margin-left: 54px;
    margin-right: 55.5px;
  }
}

.registerButton:hover {
  transform: scale(1.05);
}

.demo {
  margin-top: 50px;
  color: #e0e0e0;
  font-family: "CirceRegular";
  text-align: center;
  cursor: pointer;
  transition: color 250ms ease-in;
}

.demo:hover {
  color: var(--btn-primary);
}
